SECRET_KEY=django-insecure-ij6ay9_9)tcz*7x6+v$agunt20a+5%utjnve^)z!n=l3^sryn1

DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,northstar-university.vercel.app,https://django-project-hc1a.onrender.com
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://northstar-university.vercel.app
CSRF_TRUSTED_ORIGINS=https://northstar-university.vercel.app,https://django-project-hc1a.onrender.com
DATABASE_URL=postgresql://neondb_owner:npg_eJg1LNOXq0ti@ep-weathered-dawn-b4b1potd-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
